
* {
    font-family: 'Roboto', sans-serif;
}

/*--------header-----------*/

header{
    background-color: rgb(245, 241, 241);
    text-align: center;
    padding-top: 1em;
}   


.main-nav li{
    list-style: none;
    background-color: white;
    font-weight: bold;
    width: 100%;
    padding: 1em 0;
    margin-top: 10px;

}

.main-nav {
    margin-bottom: 3em;
}

















/*********** Media Queries ******************/

/*min-width: if the content is smaller than the minimun width, the minimun width will be applied. */ 
/*  if the content is larger than the minimun width, the min-width property has no effect*/ 

@media(max-width: 768px){
    .container{
        width:93%;
        margin: 0 auto;
    }
}