
/* the styles defing here are for 0 to 767px*/

* {
    font-family: 'Roboto', sans-serif;
}

/*--------header-----------*/

header{
    background-color: #f5f4f4;
    padding-top: 1em;
}   


.main-nav li{
    list-style: none;
    background-color: white;
    font-weight: bold;
    width: 100%;
    padding: 1em 0;
    margin-top: 10px;

}

.main-nav {
    margin-bottom: 3em;
}

.container{
    width:93%;
    margin: 0 auto;
    padding-bottom: 1.5em;
    text-align: center;
}

.introduction{
    margin-top: 2em;
    color: #838383;
    line-height: 1.5em;
    font-size: 1.25em;
}

.profile-img{
    width: 80%;
}

.container-main{
   width: 93%;
   margin: 0 auto;
   text-align: center;
}

.container-main img{
    width: 95%;
 }

.project-content{
    width: 90%;
    margin: 0 auto;
    line-height: 1.5em;
    padding-bottom: 2.5em;
    color: #5f5f5f;
    font-size: 1.15em;
}

.container-main h2 {
    color: #4d4c4c;
    padding: 2em 0;
}

.project-title{
    color: #5a5a5a;
    font-size: 1.3em;
    padding-top: .5em;
}

/**footer**/
footer .container p{
    color: #838383;
    line-height: 1.5em;
    font-size: 1.25em;
}

footer .container p span{
    font-weight: bold;
    padding-left: 1em;
}

footer .container h2{
    color: #4d4c4c;
}

footer{
    background-color: #f5f4f4;
    padding-top: 3em;
}





/*********** Media Queries ******************/


@media(min-width: 768px){

}


@media(min-width: 1024px){

}

